body {
    background-color: hsl(102, 37%, 84%);
}

hr {
    border-color: #96a4ab;
}

.content-wrapper {
    margin-top: 60px;
}

.alert-wrapper {
    max-width: 60%;
}

.alert-success {
    background-color: hsla(113, 48%, 49%, 0.63);
}

/*------_form blade-----*/
.contacts-form-wrapper {
    max-width: 60%;
    margin-bottom: 25px;
}

.contacts-form-wrapper .friend-check {
    /*display: inline-block;*/
    border: none;
    box-shadow: none;
    width: 35px;
}

.contacts-form-wrapper .friend-check:focus {
    outline: none;
}

/*------Contacts-----*/


.contacts-list {
    font-size: 18px;
    list-style: none;
    display: inline-block;
    /*margin-left: 25px;*/

}

.contacts-list > p {
    border-bottom: 1px solid #96a4ab;
    /*position: fixed;*/
    /*margin-bottom: 25px;*/
}
.contacts-list > p+li  {
    /*margin-top: 35px;*/
}

.contacts-list-container ul:first-child {
    list-style: decimal;
    padding-left: 15px;
   }

.contacts-list-container ul:first-child > li {
    padding-left: 5px;
}

.names {

}

.contacts-list > li {
    /*display: inline-block;*/

}

.contacts-list > li > span {
    /*display: inline-block;*/
    /*margin-left: 25px;*/
    /*color: #5c4e67;*/
    opacity: 0;
}