body {
    background-color: hsl(102, 37%, 84%);
}

hr {
    border-color: #96a4ab;
}

.content-wrapper {
    margin-top: 60px;
}

.alert-wrapper {
    max-width: 60%;
}

.alert-success {
    background-color: hsla(113, 48%, 49%, 0.63);
}

/*------_form blade-----*/
.contacts-form-wrapper {
    max-width: 60%;
    margin-bottom: 25px;
}

.contacts-form-wrapper .friend-check {
    /*display: inline-block;*/
    border: none;
    box-shadow: none;
    width: 35px;
}

.contacts-form-wrapper .friend-check:focus {
    outline: none;
}

/*------Contacts Table-----*/

#contacts td > .edit-link {
    color: #0e14ff;
}

#contacts td > .delete-link {
    color: #ff908b;
}

#contacts .actions-column {
    text-align: center;
}








